@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1120;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #1f1e1e;
$greyColor: #c4c4c4;
$accentColor: #886239;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__hero {
	}
	&__countries {
	}
}
//===================================================================================================================================
.hero {
	position: relative;
	display: flex;
	min-height: 100vh;
	background-image: url("../img/hero/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media (max-height: 800px) {
		.hero__title,
		.hero__desc {
			color: #fff;
		}
		background-color: rgba(#000, 0.5);
		background-blend-mode: overlay;
	}
	@media (max-width: 1050px) {
		.hero__title,
		.hero__desc {
			color: #fff;
		}
		background-color: rgba(#000, 0.5);
		background-blend-mode: overlay;
	}
	&__container {
		position: relative;
		display: flex;
		flex: 1 1 auto;
	}
	&__body {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 220px 0px 75px 0px;
		transition: padding 0.3s;
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (max-height: 800px) {
			padding: 140px 0px 75px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 80px 0px;
		}
	}
	&__title {
		align-self: center;
		margin: 0px 0px math.div(40, 90) * 1em 0px;
		font-family: "PT Serif";
		@include adaptiv-value("font-size", 90, 54, 1);
		line-height: 130%;
		@media (min-width: $md3+px) {
			text-align: center;
			flex: 1 1 auto;
		}
	}
	&__desc {
		max-width: 422px;
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;
		margin: 0px 0px math.div(20, 20) * 1em 0px;
	}
	&__link {
		margin: 0px 0px 20px 0px;
	}
	&__button {
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		border-radius: 50%;
		transition: border 0.3s, background-color 0.3s;
		&::before {
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid $mainColor;
				background-color: $mainColor;
			}
		}
	}
}
//====================================================================================================
.countries {
	@include adaptiv-value("padding-top", 100, 50, 1);
	@include adaptiv-value("padding-bottom", 100, 50, 1);
	&__container {
		display: grid;
		@include adaptiv-value("gap", 33, 15, 1);
		grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
		@media (max-width: $md4+px) {
			margin: 0px -15px;
		}
	}
	&__item {
		@media (min-width: $md4+px) {
			border: 1px solid $greyColor;
		}
		border-bottom: 1px solid $greyColor;
	}
	&__image {
		display: block;
		padding: 0px 0px math.div(110, 256) * 100% 0px;
		overflow: hidden;
		img {
			transition: transform 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
	&__title {
		padding: 12px 19px 19px;
		a {
			color: inherit;
			line-height: math.div(18.75, $fontSize) * 100%;
			transition: color 0.3s;
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: lighten($mainColor, 50%);
				}
			}
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
